<!-- logout button -->
<% if logged_in? && current_user == @user %>
    <form action="<%= session_url %>" method="POST">
        <input type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>"
        >
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Sign Out">
    </form>
<% end %>

<!-- shows user's -->
<h2><%= @user.username %></h2>
<h2>Moderated Subs</h2>
    <ul>
        <% @user.subs.each do |sub| %>
            <a href="<%= user_sub_url(sub) %>"> 
                <%= sub.title %>
            </a>
        <% end %>
    </ul>

<h2>Posts</h2>
